# dependencies
/node_modules

# next.js
/.next/
/out/

# testing
/coverage
/test-results/
/playwright-report/

# env & data
.env*.local
.env
/.data/

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
/.data-e2e/
.vercel
